/*
    Author: Karl Lukan
    Date Created: 02/19/2021
    Date Finished: 02/21/2021
*/



/* --- FONTS --- */
@font-face {
    font-family: robotoReg;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoMed;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoMonoReg;
    src: url(../fonts/robotoMono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: robotoMonoLight;
    src: url(../fonts/robotoMono/RobotoMono-Light.ttf);
}



/* --- SECTIONS --- */
/* General */
div.section {
    background-color: rgb(40, 40, 40);
    color: white;
    display: block;

    padding: 1rem;
    margin: -0.5rem;
    height: 20.5rem;
}

div.section:nth-of-type(even) {
    background-color: rgb(60, 60, 60);
}

div.section > div.info {
    float: left;
    width: 40%;
}

div.section > div.cards {
    background-color: white;
    color: black;
    float: right;

    height: 20rem;
    width: 44.5%;
    box-shadow: 0px 0px 20px black;
}

div.section > div.cards > h3, ul, ol, p {
    margin-left: 1rem;
}

div.section > img {
    float: right;  
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 0px 20px black;
}

h1, h3 {
    font-family: robotoMed;
}

p, li {
    font-family: robotoLight;
    margin-right: 1rem;
}

hr {
    background-color: white;
    float: left;
    height: 3px;
    width: 6rem;
    margin-top: -0.5rem;
}


/* Section 1 */
div.section > div.info#nav {
    padding-top: 1rem;
    padding-left: 2rem;
}

div.section > div.info#nav > h1 > a {
    font-family: robotoReg;
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

div.section > div.info#nav > h1 > a:after {
    content: '';
    position: absolute;
    height: 2.5px;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div.section > div.info#nav > h1 > a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

div.section > div.cards#title {
    text-align: center;
}

div.section > div.cards#title > h1 {
    font-family: robotoMonoReg;
}

div.section > div.cards#title > p {
    font-family: robotoMonoLight;
}


/* Section 2 */


/* Section 3 */
div.section > div.cards#work > p {
    font-size: 90%;
}


/* Section 4 */
div.section > div.cards#work > p > i {
    font-size: 80%;
}


/* Section 5 */
div.section > div.info#contact > a {
    font-family: robotoReg;
    font-size: 1.25rem;
    color: black;
    height: 1.3rem;
    width: 6rem;
    padding: 0.4rem;

    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 15px grey;
}

div.section > div.info#contact > p > a {
    color: white;
}



/* --- MEDIA QUERIES --- */
/* Desktop */
@media only screen and (min-width: 1000px) {
    /* Section 1 */
    div.section > div.cards#title > h1 {
        font-size: 300%;
    }

    div.section > div.cards#title > p {
        font-size: 150%;
    }


    /* Section 5 */
    div.section:nth-of-type(5) {
        height: 20em;
    }
}


/* Phone */
@media only screen and (max-width: 750px) {
    /* General */
    div.section {
        display: grid;
    }

    div.section > div.info {
        width: 100%;
    }

    div.section > div.cards {
        width: 100%;
    }


    /* Section 1 */
    div.section:nth-of-type(1) {
        height: 39em;
    }

    div.section > div.info#nav {
        width: 90%;
    }


    /* Section 2 */
    div.section:nth-of-type(2) {
        height: 40rem;
    }

    div.section > img {
        width: 21.5rem;
        margin-left: auto;
        margin-right: auto;
    }


    /* Section 3 */
    div.section:nth-of-type(3) {
        height: 35rem;
    }


    /* Section 4 */
    div.section:nth-of-type(4) {
        height: 37rem;
    }

    div.section > div.cards#work > p:first-of-type {
        margin-top: -1rem;
    }

    div.section > div.cards#work > p {
        margin-right: 1rem;
    }

    /* Section 5 */
    div.section:nth-of-type(5) {
        height: 16rem;
    }

    div.section:nth-of-type(5) div.info#contact > a {
        margin-top: 1rem;
    }
}


/* Tablet */
@media only screen and (max-width: 1399px) {
    /* General */
    div.section > div.info {
        font-size: 80%;
    }


    /* Section 1 */
    div.section > div.info#nav {
        font-size: 100%;
    }


    /* Section 4 */
    div.section:nth-of-type(4) > div.cards#work > ul {
        font-size: 80%;
    }


    /* Section 5 */
    div.section:nth-of-type(5) {
        height: 16rem;
    } 

    div.section:nth-of-type(5) > a {
        margin-top: 8rem;
    }
}